@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    
    background-color: #d5e1ef;
    font-family: 'Outfit', sans-serif;

}

.box {
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 15px;
    margin: 0% auto;
    margin-top: 7%;
    display: flex;
    justify-content: center;
    width: 288px;
    height:433px ;
    
}

.box img {
   
  border-radius: 15px;
   width: 266px  ;
   height: 255px ;
   margin-top: -0.5cm;
   
}

.boxtxt2 {
    font-size:13px;
    margin-top: 20px;
    text-align: center;
}
.boxtxt {
    font-weight: bolder;
    font-size:19px; 
    margin-top: 18px;
}
p {
width: 122px;
align-self: flex-end;


}